<div class="" ng-controller="InputController as vm">
  <a href=# class="btn btn-success" role="button" ng-disabled="vm.getCount()===0" ng-click="vm.eraseLibrary()">Wymaż bibliotekę</a>
    <div class="row movies-list">
        <div class="col-md-4" ng-repeat="movie in vm.movies | orderBy:'name':true | filter:search">
            <h2>{{movie.name | uppercase}}</h2>
            <p>
                <img ng-src="{{movie.model.thumb}}" class="thumb-big">
            <p>
            
        </div>
    </div>
</div>
