<!--<input type="text" placeholder="wklej nowy link fo filmu"" class="form-control" ng-model="search">-->
<div ng-controller="inputController" class="container">
    <form role="form" name="pasteInput" ng-submit="processInputForm()">
        <div class="form-group">
            <label for="movieLink">Nowy film</label>
            <input type="text" ng-model="formData.movieLink" name="movieLink" ng-pattern="inputPattern" id="movieLink" placeholder="Wklej tutaj link do filmu"
            value="1" ng-model="movieLink" required>
            <span ng-hide="pasteInput.movieLink.$valid" class="alert-danger">Proszę wklej link do filmu</span>
        </div>
        <button ng-disabled="!(pasteInput.movieLink.$valid)" type="submit" class="btn btn-default" ng-click="toggleModal()" class="btn btn-default">Submit</button>
        <modal title="Video" visible="showModal">
          <div id="player"></div>

        </modal>
    </form>
</div>


<!--<iframe id="cartoonVideo" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>-->
